<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Documentation</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PTS</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/documentation.css"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
</head>
<body>
<!--nav-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">PROJECT TRACKING SYSTEM</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" id="username"> gdfgdgg </a>
                </li>
                <li class="nav-item">
                    <a href="#learn" class="nav-link">What you will learn</a>
                </li>
                <li class="nav-item">
                    <a href="#questions" class="nav-link">Questions</a>
                </li>
                <li class="nav-item">
                    <a href="#developers" class="nav-link">Developers</a>
                </li>
                <li class="nav-item">
                    <a href="/app/logout" class="nav-link">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>

<!--showcase-->
<section
        class="
            bg-dark
            text-light
            p-5 p-lg-0
            pt-lg-5
            text-center text-sm-start
          "
>
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>You Are A <span class="text-warning">PTS User</span></h1>
                <p class="lead my-4">
                    We focus on teaching our students the fundamentals of the
                    project management system and let them to work on their own.
                    Project Tracking System helps teams move work forward. We
                    focus on teaching our students the fundamentals of the project
                    management system and let them to work on their own. Project
                    Tracking System helps teams move work forward
                    <br/>
                    PTS helps teams move work forward.
                    <br/>
                    Collaborate, manage projects, and reach new productivity
                    peaks. From high rises to the home office, the way your team
                    works is unique—accomplish it all with PTS.
                </p>
                <!-- <a href="./dist/index.html"
              ><button
                class="btn btn-primary btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#login"
              >
                Login
              </button>
            </a> -->
            </div>
            <img
                    class="img-fluid w-50 d-none d-sm-block"
                    src="/images/showcase.svg"
                    alt=""
            />
        </div>
    </div>
</section>

<br/>

<section>
    <div>
        <div class="container">
            <h2 class="text-center text-black" style="font-size: 1cm">
                Features to help your team succeed
            </h2>

            <p class="text-center text-black" style="font-size: 0.5cm">
                Powering a productive team means using a powerful tool (and
                plenty of snacks). From meetings and projects to events and goal
                setting, Trello’s intuitive features give any team the ability
                to quickly set up and customize workflows for just about
                anything.
            </p>
        </div>
    </div>
</section>
<br/>

<section id="learn" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Boards</h2>
                <p class="lead">The board is just the beginning.</p>
                <p>
                    Lists and cards are the building blocks of organizing work on
                    a Trello board. Grow from there with task assignments,
                    timelines, productivity metrics, calendars, and more.
                </p>
                <a href="#intro-readmore" class="btn btn-light mt-3 readmore-btn" id="intro-readmore-btn">
                    <i class="bi bi-chevron-right"></i> Read More
                </a>
                <br/>
                <div id="intro-readmore" hidden><p>
                    You and your team can start up a PTS board in seconds. With
                    the ability to view board data from many different angles, the
                    entire team stays up-to-date in the way that suits them best:
                    <ul>
                        <br/>
                        <li>Use a Timeline view for project planning</li>
                        <li>Calendar helps with time management</li>
                        <li>Table view connects work across boards</li>
                        <li>See board stats with Dashboard, and more!</li>
                    </ul>
                    </p></div>
            </div>
            <div class="col-md">
                <img src="/images/view.svg" class="img-fluid" alt=""/>
            </div>
        </div>
    </div>
</section>

<section id="learn" class="p-5 bg-white text-dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Cards</h2>
                <p class="lead">Cards contain everything you need.</p>
                <p>
                    PTS cards are your portal to more organized work—where
                    every single part of your task can be managed, tracked, and
                    shared with teammates. Open any card to uncover an ecosystem
                    of checklists, due dates, attachments, conversations, and
                    more.
                </p>
                <a href="#cards-readmore" class="btn btn-dark mt-3 readmore-btn" id="cards-readmore-btn">
                    <i class="bi bi-chevron-right"></i> Read More
                </a>
                <br/>
                <div id="cards-readmore" hidden><p>
                    Spin up a PTS card with a click, then uncover everything it
                    can hold. Break down bigger card tasks into steps with file
                    attachment previews, reminders, checklists and comments—emoji
                    reactions included! Plus, gain powerful perspective by seeing
                    all cards by list and status at the board level. Your team
                    can:
                    <ul>
                        <br/>
                        <li>Manage deadlines</li>
                        <li>Provide and track feedback</li>
                        <li>Assign tasks and hand off work</li>
                        <li>Connect work across apps</li>
                    </ul>
                    </p></div>
            </div>
            <div class="col-md">
                <img src="/images/card-back.svg" class="img-fluid" alt=""/>
            </div>
        </div>
    </div>
</section>

<!-- Learn Sections -->

<section id="learn" class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Due Dates</h2>

                <p>
                    Doing and due dates go hand in hand. They're easy to set, hard
                    to miss with reminders and oh-so-satisfying to mark as “done.”
                </p>

            </div>
            <div class="col-md">
                <img src="/images/DueDates-UI.svg" class="img-fluid" alt=""/>
            </div>
        </div>
    </div>
</section>

<section id="learn" class="p-5 bg-white text-dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Members</h2>

                <p>
                    Keep everyone accountable by adding members to cards. In a
                    glance see who is doing what and what still needs to get done.
                </p>


            </div>
            <div class="col-md">
                <img src="/images/Members-UI.svg" class="img-fluid" alt=""/>
            </div>
        </div>
    </div>
</section>

<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="/images/fundamentals.svg" class="img-fluid" alt=""/>
            </div>
            <div class="col-md p-5">
                <h2>Learn The Fundamentals</h2>
                <p class="lead">
                    Everything in a given discipline relies upon the fundamentals. They are the foundation from which
                    all amazing feats are derived. Great scientists and artists alike rely upon their most basic skills
                    to perform the feats which look like magic to us mere mortals.
                </p>
                <!-- <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Cumque reiciendis eius autem eveniet mollitia, at asperiores
                  suscipit quae similique laboriosam iste minus placeat odit
                  velit quos, nulla architecto amet voluptates?
                </p> -->
                <a href="#technology-stack-readmore" class="btn btn-dark mt-3 readmore-btn"
                   id="technology-stack-readmore-btn">
                    <i class="bi bi-chevron-right"></i> Read More
                </a>
                <br/>
                <div id="technology-stack-readmore" hidden>
                    <p>
                        Our project was developed by React Js,Bootstrap and Spark Java
                        framework
                    <ul>
                        <br/>
                        <li>
                            <a
                                    href="https://reactjs.org/tutorial/tutorial.html"
                                    target="_blank"
                            >
                                React Js
                            </a>
                        </li>
                        <li>
                            <a
                                    href="https://getbootstrap.com/docs/5.1/getting-started/introduction/"
                                    target="_blank"
                            >
                                Bootstrap
                            </a>
                        </li>
                        <li>
                            <a
                                    href="https://spark.apache.org/docs/latest/quick-start.html"
                                    target="_blank"
                            >
                                Spark Java
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mysql.com/training/" target="_blank">
                                MySql
                            </a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--questions-->
<section id="questions" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">
            <!-- Item 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-one"
                    >
                        What is Project Tracking System used for?
                    </button>
                </h2>
                <div
                        id="question-one"
                        class="accordion-collapse collapse"
                        data-bs-parent="#questions"
                >
                    <div class="accordion-body">
                        Project Tracking System is a collaboration tool that
                        organizes your projects into boards. In one glance, it tells
                        you what's being worked on, who's working on what, and where
                        something is in a process. Imagine a white board, filled
                        with lists of sticky notes, with each note as a task for you
                        and your team.
                    </div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-two"
                    >
                        Is Project Tracking System a app?
                    </button>
                </h2>
                <div
                        id="question-two"
                        class="accordion-collapse collapse"
                        data-bs-parent="#questions"
                >
                    <div class="accordion-body">
                        Here's a common question I hear about Project Tracking
                        System: "Isn't Project Tracking System a project management
                        app?" It is and it isn't. The answer depends on how strict
                        you are about the word project. A project is a group of
                        tasks that have a start date, end date, and final product.
                        Not all work is a project. Building a house is a project.
                        Answering calls at a call center is not a project. You can
                        use Project Tracking System by download the dedicated
                        desktop application.
                    </div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-three"
                    >
                        Is my data safe in Project Tracking System?
                    </button>
                </h2>
                <div
                        id="question-three"
                        class="accordion-collapse collapse"
                        data-bs-parent="#questions"
                >
                    <div class="accordion-body">
                        By default, when a user sets up a PTS board, the data within
                        is private (where “only board members can see and edit this
                        board”).
                    </div>
                </div>
            </div>

            <!--item-4-->

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-four"
                    >
                        How Do I sign up?
                    </button>
                </h2>
                <div
                        id="question-four"
                        class="accordion-collapse collapse"
                        data-bs-parent="#questions"
                >
                    <div class="accordion-body">
                        Just download and install the Project Tracking System
                        application in your desktop. Click SignUp to create a new
                        account and use it.
                    </div>
                </div>
            </div>
            <!-- Item 5 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-five"
                    >
                        Is Project Tracking System based on Kanban?
                    </button>
                </h2>
                <div
                        id="question-five"
                        class="accordion-collapse collapse"
                        data-bs-parent="#questions"
                >
                    <div class="accordion-body">
                        Project Tracking System is a desktop based Kanban project
                        management application. It enables easy, real-time
                        collaboration between team members and even multiple teams
                        and projects.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="developers" class="p-5 bg-dark">
    <div class="container">
        <h2 class="text-center text-white">Our Developers</h2>
        <p class="lead text-center text-white mb-5">
            we developed this tool to manage projects.
        </p>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img
                                src="/images/520ea586-2e7e-42f2-9a35-62dc7e5c3654_35_4_60.jpg"
                                class="rounded-circle mb-3"
                                alt=""
                        />
                        <h3 class="card-title mb-3">SHRISTIDHARAN</h3>
                        <p class="card-text">Worked as UI designer.</p>
                        <a
                                href="https://mobile.twitter.com/shrishti_dharan"
                                target="_blank"
                        ><i class="bi bi-twitter text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://m.facebook.com/100013199583828/"
                                target="_blank"
                        ><i class="bi bi-facebook text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://www.linkedin.com/in/shrishtidharan-k-a-b88915203"
                                target="_blank"
                        ><i class="bi bi-linkedin text-dark mx-1"></i
                        ></a>
                        <!-- <a href="#"
                          ><i class="bi bi-instagram text-dark mx-1"></i
                        ></a> -->
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img
                src="https://randomuser.me/api/portraits/women/11.jpg"
                class="rounded-circle mb-3"
                alt=""
              />
              <h3 class="card-title mb-3">Jane Doe</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
              </p>
              <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
              <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
              <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
              <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
            </div>
          </div>
        </div> -->

            <div class="col-md-6 col-lg-4">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img
                                src="/images/EbByFq-k_400x400.jpg"
                                class="rounded-circle mb-3"
                                alt=""
                        />
                        <h3 class="card-title mb-3">VIRUCHITH</h3>
                        <p class="card-text">worked as backend developer.</p>
                        <a href="https://twitter.com/viruchith" target="_blank"
                        ><i class="bi bi-twitter text-dark mx-1"></i
                        ></a>
                        <a href="https://www.facebook.com/viruchith" target="_blank"
                        ><i class="bi bi-facebook text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://www.linkedin.com/in/viruchith/"
                                target="_blank"
                        ><i class="bi bi-linkedin text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://www.instagram.com/viruchith/"
                                target="_blank"
                        ><i class="bi bi-instagram text-dark mx-1"></i
                        ></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img
                                src="/images/Whob2aS6_400x400_2_35.jpg"
                                class="rounded-circle mb-3"
                                alt=""
                        />
                        <h3 class="card-title mb-3">VIGNESHWARAN</h3>
                        <p class="card-text">worked as backend developer.</p>
                        <a
                                href="https://mobile.twitter.com/Vignesh09431796"
                                target="_blank"
                        ><i class="bi bi-twitter text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://www.facebook.com/vigneshwaran.vikki.357/"
                                target="_blank"
                        ><i class="bi bi-facebook text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://www.linkedin.com/in/vigneshwaran-sadasivam-141668198/"
                                target="_blank"
                        ><i class="bi bi-linkedin text-dark mx-1"></i
                        ></a>
                        <a
                                href="https://www.instagram.com/vigneshwaran_sadasivam/"
                                target="_blank"
                        ><i class="bi bi-instagram text-dark mx-1"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact & Map -->
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span>
                        Salem,TamilNadu,India
                    </li>
                    <!-- s<li class="list-group-item">
                  <span class="fw-bold">Enrollment Phone:</span> 9043891114
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Student Phone:</span> 8825591664
                </li> -->
                    <li class="list-group-item">
                        <span class="fw-bold">Developer Email:</span>
                        vigneshwaransam877@gmail.com
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Developer Email:</span>
                        viruchith@gmail.com
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Developer Email:</span>
                        vigneshwaransam877@gmail.com
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2021 PTS team</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</footer>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

<div id="map" style="width: 400px; height: 20px"></div>
<script>
          mapboxgl.accessToken =
            "pk.eyJ1IjoidmlnbmVzaHdhcmFuc2FkYXNpdmFtIiwiYSI6ImNrcTBjb2t6cjAzbG4ydnFyc2oxZGp6eGkifQ.eZfpK-9MR2o2XxH8BoPwUw";
          var map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/streets-v11",
          });



</script>
<script>
                        const readMoreMap = [{btn:"intro-readmore-btn",readmore:"intro-readmore"},{btn:"technology-stack-readmore-btn",readmore:"technology-stack-readmore"},{btn:"cards-readmore-btn",readmore:"cards-readmore"}];

            const readMoreClickHandler = (e)=>{
                const readMore = readMoreMap.find((readmore)=>readmore.btn===e.target.id);
                const readMoreBlock = document.getElementById(readMore.readmore);
                readMoreBlock.hidden = !readMoreBlock.hidden;
            }
            document.addEventListener("DOMContentLoaded",()=>{
                readMoreMap.map((readmore)=>{
                    document.getElementById(readmore.btn).addEventListener("click",readMoreClickHandler);
                });
                document.getElementById("username").innerText = "@"+window.sessionStorage.getItem("username");
            });



</script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>
</body>
</html>
</body>
</html>
